a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Makes the link color inherit the text color */
}

iframe{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width:60vw; 
    height:40vw;
    justify-self: center;
}


/* Apply the custom font */
body {
    justify-content: center;
    margin: auto;
    padding: 0;
    font-family: 'HelveticaNeue-Thin'; /* Use the custom font */
    overflow-x: hidden;
    background-color: #e3e2da;


    
}
p{
    font-family: 'Helvetica' /* Use the custom font */

}






.about{
    font-size: 25px;
}

.video{
    animation: 2s fadeInUp;
    width:45vw;
    height:26vw;
    align-self: center;
}




/* Keyframes for the slide-in animation from the left */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%); /* Start off the screen on the left */
    }
    100% {
        transform: translateX(0); /* End at its normal position */
    }
}

/* Keyframes for the slide-in animation from the left */
@keyframes slideAway {
    from {
        translate: 0 0;
      }
    
      to {
        translate: 10vw;
      }
}





.more:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}


.mohi-title {
    color: #373632;
    font-family: 'HelveticaNeue-Thin';
    
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically (if needed) */
    gap: 200px; /* Adds space between items */
    font-size: 40px;
    flex-direction: column; /* Stack the words vertically */
    padding-bottom: -10px;
    margin-top: calc(0vh);

    padding-left: 5rem;
}


.sesh-title {
    color: #373632;
    font-family: 'HelveticaNeue-Thin';
    
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically (if needed) */
    gap: 200px; /* Adds space between items */
    font-size: 40px;
    flex-direction: column; /* Stack the words vertically */
    padding-bottom: -10px;
    margin-top: calc(0vh);

    padding-left: 6.5rem;
}

.sesh-sub {
    
    color: #373632;
    width: 90vw;
    align-self: center;
    justify-self: center;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically (if needed) */
    gap: 200px; /* Adds space between items */
    font-size: 16px;
    flex-direction: row; /* Stack the words vertically */
    margin-top: -20px;




}

@keyframes fadeInUp {
    0% {
        transform: translateY(80px); /* Start slightly below */
        opacity: 0.25; /* Start visible but faded */
    }
    80% {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  .fadeInUp-animation {
    animation: 1.5s fadeInUp;
  }

.info{
    width: 89vw; /* Set a max width if needed */
    height: auto;
    min-height: 100px; /* Optional: Ensures a minimum height */
    background-color: #EEEDE9; /* Light background color */
    position: relative; /* Changed from absolute to relative */
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 20px; /* Add padding to space out content */
    display: flex;
    place-self: center;
    flex-direction: column; /* Stack content inside */
    justify-self: center;
    justify-content: center;
    
    

}
.arr{
    color: #373632;
    font-family: 'HelveticaNeue-Thin';
    position: absolute;
    margin-left: 10vw;
    margin-top: 65px;
}

.seshImg {
    animation: 2s fadeInUp;
    
    width: 70vw; /* Adjust as needed */
    height: auto;
    display: block; /* Makes sure it behaves like a block element */
    margin-left: 0vw; /* Aligns the left side of the image to the container */
    align-self: center;
    
}
.seshImgs {
    animation: 2s fadeInUp;
    
    width: 60vw; /* Adjust as needed */
    height: auto;
    display: block; /* Makes sure it behaves like a block element */
    margin-left: 0vw; /* Aligns the left side of the image to the container */
    
}
.webImg {
    animation: 2s fadeInUp;
    padding-bottom: 20px;
    
    width: 70vw; /* Adjust as needed */
    height: auto;
    display: block; /* Makes sure it behaves like a block element */
    margin-left: 10vw; /* Aligns the left side of the image to the container */
    align-self: center;
    
}

.imgMarImg{
    animation: 2s fadeInUp;
    width: 70vw; /* Adjust as needed */
    height: auto;
    display: block; /* Makes sure it behaves like a block element */
    margin-left: 0vw; /* Aligns the left side of the image to the container */
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imgDiv {
    width: 80vw;
    height: auto;
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    border-radius: 8px; /* Rounded corners */
    align-self: center;

}

.tags{
    animation: 2s fadeInUp;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    width: 70vw; /* Use full width of the container (or you can use 10vw if you prefer) */
    font-size: 18px;
    padding-bottom: 20px; /* Add space below */
    align-self: center;
    
}

.tags p {
    color: #373632;
    margin: auto; /* Remove the default margin */
    margin-left: 0rem;
    padding: 0; /* Remove any padding */
    line-height: 1.75; /* Adjust line spacing for readability */
    
}

.body-text{
    animation: 2s fadeInUp;
    color: #373632;
    width: 70vw;
    align-self: center;
    
    
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    
}

.overview-title{animation: 2s fadeInUp;
    color: #373632;
    margin: auto;
    align-self: center;
    font-size: 25px;
    margin-bottom: 16px; /* Reduce space between */
    width:70vw

}
.overview{
    color: #373632;
    margin: auto;

    align-self: left;
    font-size: 18px;
    width: 1000px;
    display: flex;
    flex-direction: column; /* Stack items */
    padding-bottom: 20px; /* Add space below */


}
.overview p {
    animation: 2s fadeInUp;
    color: #373632;
    margin: auto;
    justify-self: center;

    padding: 0; /* Remove any padding */
    line-height: 1.75; /* Adjust line spacing for readability */
    max-width: 100%; /* Prevent going beyond the screen */
    word-wrap: break-word; /* Ensure long words wrap correctly */
    width: 70vw;
    margin-left: 0em;
}


.overview2 p {
    animation: 2s fadeInUp;
    color: #373632;
    margin: auto;
    justify-self: center;

    padding: 0; /* Remove any padding */
    line-height: 1.75; /* Adjust line spacing for readability */
    max-width: 100%; /* Prevent going beyond the screen */
    word-wrap: break-word; /* Ensure long words wrap correctly */
    width: 70vw;
    align-self: center;

}







.links{
    color: #373632;
    font-size: 18px;
    width: 1000px;
    display: flex;
    flex-direction: column; /* Stack items */
    padding-bottom: 20px; /* Add space below */
    max-width: 100%; /* Prevent going beyond the screen */
    word-wrap: break-word; /* Ensure long words wrap correctly */
    width: 70vw;
    left: 0em;

}
.links2{
    animation: 2s fadeInUp;
    color: #373632;
    font-size: 18px;
    width: 1000px;
    display: flex;
    flex-direction: column; /* Stack items */
    padding-top: 20px;
    padding-bottom: 20px; /* Add space below */
    max-width: 100%; /* Prevent going beyond the screen */
    word-wrap: break-word; /* Ensure long words wrap correctly */
    width: 70vw;
    margin: auto;

}

.cont{
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligns items vertically */
    gap: 20px; /* Adds spacing between image and text */
    width: 100%; /* Ensures it takes full width */

}
.imgDES {
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligns items vertically */
    gap: 20px; /* Adds spacing between image and text */
    width: 500px; /* Ensures it takes full width */

}


#one {
    margin-left: 10%;
    margin-top: 5%;
 
}


#one-des{
    width: 100%; /* Allows text to take up available space */
    max-width: 400px; /* Prevents it from becoming too wide */
    line-height: 1.5; /* Improves text readability */
    margin-top: 40%;
    font-size: 18px;
    
}


#two {
    margin-left: 10%;
    margin-top: 10%;

}

#two-des{

    width: 100%; /* Allows text to take up available space */
    max-width: 400px; /* Prevents it from becoming too wide */
    line-height: 1.5; /* Improves text readability */
    margin-top: 10%;
    margin-left: 10%;
    font-size: 18px;
}


#three {
    margin-left: 10%;
    margin-top: 5%;
 
}


#three-des{
    width: 100%; /* Allows text to take up available space */
    max-width: 400px; /* Prevents it from becoming too wide */
    line-height: 1.5; /* Improves text readability */
    margin-top: 20%;
    font-size: 18px;
   
}

#four {
    margin-left: 10%;
    margin-top: 10%;
 

}

#rest {
    width: 100%; /* Allows text to take up available space */
    max-width: 400px; /* Prevents it from becoming too wide */
    line-height: 1.5; /* Improves text readability */
    margin-top: 10%;
    margin-left: 0%;
    font-size: 18px;

    
}

#five {
    margin-left: 42.325%;
    margin-top: 10%;

}

#six{
    margin-left: 42.325%;
    margin-top: 10%;

}

#seven{
    margin-left: 42.325%;
    margin-top: 10%;
    padding-bottom: 10%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    width: 100%;  /* Make it responsive */
    height: 300px;
    margin-top: 18rem;

    
  
  display: flex;

  align-items: center; /* Vertically center */
  margin-bottom: 18rem;
}



/* Hide the images by default */
.mySlides {
  display: none;
  align-self: center;
  justify-self: center;
}

.mySlides img {
    max-width: 100%; /* Ensure the image fits within the container */
    max-height: 100%; /* Ensure the image doesn't exceed the container height */
    object-fit: contain; /* Maintain aspect ratio */
    align-self: center;
    justify-self: center;
  }


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  outline: #717171;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: -240px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width:1000px){
    .sesh-sub {
        width: 90vw;
        place-self: center;
        justify-self: center;
        align-self: center;
        display: flex; /* Enables flexbox */
        justify-content: center; /* Centers items horizontally */
        align-items: center; /* Centers items vertically (if needed) */
        gap: 0px; /* Adds space between items */
        font-size: 16px;
        flex-direction: column; /* Stack the words vertically */
        margin-top: -20px;
    
    
    
    
    }
    .info{
        padding-left: 10px;
        padding-right:10px;
        justify-self: center;
        align-self: center;
        margin: 0 auto;

        width: 89vw; /* Set a max width if needed */
    height: auto;
    min-height: 100px; /* Optional: Ensures a minimum height */
    background-color: #EEEDE9; /* Light background color */
    position: relative; /* Changed from absolute to relative */
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 20px; /* Add padding to space out content */
    display: flex;

    place-self: center;
    flex-direction: column; /* Stack content inside */
    justify-self: center;
    justify-content: center;
    }

}

@media (max-width:650px){
    .video{
        animation: 2s fadeInUp;
        width:70vw;
        height:40vw;
        align-self: center;
    }
    .mohi-title {
        color: #373632;
        font-family: 'HelveticaNeue-Thin';
        
        display: flex; /* Enables flexbox */
        justify-content: center; /* Centers items horizontally */
        align-items: center; /* Centers items vertically (if needed) */
        gap: 200px; /* Adds space between items */
        font-size: 40px;
        flex-direction: column; /* Stack the words vertically */
        padding-bottom: -10px;
        margin-top: calc(0vh);
    
        padding-left: 9rem;
    }

    .slideshow-container {
        max-width: 500px;
        position: relative;
        margin: auto;
        width: 100%;  /* Make it responsive */
        height: 300px;
        margin-top: 40vw;
    
        
      
      display: flex;
    
      align-items: center; /* Vertically center */
      margin-bottom: 0;

    }

    /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: -35vw;
  }
  
    
   
}


@media (max-width:750px){

    .slideshow-container {
        
      margin-bottom: 18rem;

    }
    
  
    
   
}



@media (max-width:500px){
    
    .info{
        padding-left: 10px;
        padding-right:10px;
        justify-self: center;
        align-self: center;
        margin: 0 auto;

            width: 89vw; /* Set a max width if needed */
        height: auto;
        min-height: 100px; /* Optional: Ensures a minimum height */
        background-color: #EEEDE9; /* Light background color */
        position: relative; /* Changed from absolute to relative */
        margin: 0 auto;
        border-radius: 20px;
        margin-top: 30px;
        margin-bottom: 100px;
        padding: 20px; /* Add padding to space out content */
        display: flex;
        
        place-self: center;
        flex-direction: column; /* Stack content inside */
        justify-self: center;
        justify-content: center;
    }

    .sesh-title{
        font-size: 35px;

    }

    .sesh-sub {
    
        color: #373632;
        width: 90vw;
        align-self: center;
        justify-self: center;
        display: flex; /* Enables flexbox */
        justify-content: center; /* Centers items horizontally */
        align-items: center; /* Centers items vertically (if needed) */
        gap: 50px; /* Adds space between items */
        font-size: 16px;
        flex-direction: row; /* Stack the words vertically */
        margin-top: -20px;
        padding-left: 50px;
    
    
    
    
    }

    
    
}